body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 400px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin-right: 20px;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 520px;
}

#hp1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
}

#hp2 {
    font-size: 18px;
    color: #E5E7EB;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

button.header-button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    color: #f9faf8;
    font-weight: 700;
    border-style: solid;
}

.header-image-placeholder {
    width: 500px;
    height: 250px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.inspiring-quote-div {
    background-color: #E5E7EB
}

.main {
    border: solid lightblue 5px;
    height: 500px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-image-content {
    border: solid cyan 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    padding-top: 20px;

}

.boxes{
    display: flex;
    border: solid 4px burlywood;
    justify-content: center;
    align-items: center;
    gap: 80px;


}

.image-box {
    width: 168px;
    height: 168px;
    border: solid #3882F6 5px;
    border-radius: 10px;
}

.main-image-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

