body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 400px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin-right: 20px;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
    flex-wrap: wrap;
    width: 520px;
}

#hp1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
}

#hp2 {
    font-size: 18px;
    color: #E5E7EB;
}

p {
    margin: 0;
    padding-bottom: 10px;
}

button.header-button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
    width: 110px;
    color: #f9faf8;
    font-weight: 700;
    border-style: solid;
}

.header-image-placeholder {
    width: 500px;
    height: 250px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: white;
}

.inspiring-quote-section {
    background-color: #E5E7EB;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    font-size: 20px;
}

.main-image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    padding-top: 30px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.image-box {
    width: 180px;
    height: 180px;
    border: solid #3882F6 5px;
    border-radius: 10px;
}

.main-image-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image-text {
    font-size: 18px;
    color: #6d747d;
    margin-top: 8px;
}

.boxes-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
}

.inspiring-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.inspiring-quote-container {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: 36px;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 40px;
}

.do-it {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.do-it-container {
    background-color: #3882F6;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border-radius: 5px;
}

#do-it-para1,
#do-it-para2 {
    margin: 0;
    padding: 0;
    color: white;
}

.do-it-text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#do-it-para1 {
    font-weight: 700;
}

.do-it-button {
    padding: 5px 30px;
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}