body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    height: 400px;
}

.logo-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #f9faf8;
    margin-right: 20px;

}


